.header {
  padding-top: 46px;
  background-color: #F1F1F1;
}
.header__logo {
  position: relative;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  color: inherit;
  padding: 0px 10px 3px 0px;
}
.header__logo::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #FDA300;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 76px;
}
@media (max-width: 1230px) {
  .header__nav {
    margin-bottom: 50px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media (max-width: 1230px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  font-size: 14px;
  font-weight: 500;
  color: inherit;
}
.nav__link_active {
  color: #606060;
}
.nav .nav-button {
  display: none;
}
@media (max-width: 1230px) {
  .nav .nav-button {
    display: block;
  }
}

@media (max-width: 1230px) {
  .nav.open .nav__list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 46px 30px;
    row-gap: 30px;
    z-index: 100;
  }
  .nav.open .nav__link {
    font-size: 34px;
    color: #828282;
  }
  .nav.open .nav__link_active {
    color: #000000;
  }
  .nav.open .nav-button {
    display: block;
    position: fixed;
    z-index: 101;
    top: 46px;
    right: 30px;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 1230px) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    row-gap: 20px;
  }
  .header__row .header__content {
    margin-top: 0;
  }
  .header__row .header__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content {
  max-width: 500px;
  margin-top: 124px;
}
.content__title {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  .content__title {
    font-size: 32px;
    line-height: 1.3;
    max-width: 307px;
  }
  .content__title span {
    font-size: 26px;
  }
}
.content__text {
  font-size: 14px;
  line-height: 2;
}

.services {
  padding: 90px 0px;
}
@media (max-width: 700px) {
  .services {
    padding: 60px 0px;
  }
}
.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 60px;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-width: 315px;
}
.card__image-img {
  margin-bottom: 30px;
}
.card__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.card__text {
  font-size: 14px;
  line-height: 2;
}

.portfolio {
  background-color: #F1F1F1;
  padding: 90px 0px;
}
@media (max-width: 700px) {
  .portfolio {
    padding: 60px 0px;
  }
}
.portfolio__title {
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 700px) {
  .portfolio__title {
    margin-bottom: 50px;
  }
}
.portfolio__project {
  text-align: center;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.5;
  text-align: center;
  color: #070707;
}

.project__img {
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .project__img {
    margin-bottom: 30px;
  }
}
.project__title {
  font-size: 18px;
}
.project__title a {
  color: black;
  text-decoration: underline;
}

.portfolio__project + .portfolio__project {
  margin-top: 90px;
}
@media (max-width: 700px) {
  .portfolio__project + .portfolio__project {
    margin-top: 55px;
  }
}

.contacts {
  padding: 90px 0px;
}
@media (max-width: 700px) {
  .contacts {
    padding: 60px 0px;
  }
}
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__title {
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .contacts__title {
    margin-bottom: 20px;
  }
}
.contacts__text {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 700px) {
  .contacts__text {
    margin-bottom: 20px;
  }
}
.contacts__button {
  margin-bottom: 80px;
  background-color: #070707;
  display: inline-block;
  padding: 7px 22px;
  border-radius: 30px;
  -webkit-transition: background-color 0.2s ease-in, top 0.2s ease-in;
  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
.contacts__button:hover, .contacts__button:focus {
  background-color: #323232;
}
.contacts__button:active {
  background-color: #000000;
  position: relative;
  top: 1px;
}
@media (max-width: 700px) {
  .contacts__button {
    margin-bottom: 70px;
  }
}
.contacts__button a {
  font-size: 18px;
  color: white;
}
.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .contacts__social {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
.contacts__footer-text {
  font-size: 14px;
  text-align: center;
  color: #828282;
}